.ant-modal-content {
  font-family: "IBM Plex Sans Thai", sans-serif;

  .ant-modal-title {
    font-size: var(--font-size-20);
  }
}

.ant-table-content {
  font-family: "IBM Plex Sans Thai", sans-serif;
}

.ant-input {
  padding: 8px 12px;
}

.ant-input-affix-wrapper {
  padding: 8px 12px;
}

.ant-select {
  min-height: 40px;
}

.ant-picker-input {
  padding: 8px 12px;
}

.ant-table-striped-row {
  background-color: rgb(240, 240, 240);
}